{
    "extends":[
        "react",
        "standard"
    ],
    "rules": {
        "indent": ["error", 4],
        "react/jsx-uses-react": "error",
        "react/prop-types": "off"
    }
}